@import "mixins";

.container {
  margin:0;
  padding:0;
  max-width: 100%;
  margin: 2rem auto;

}
.section-header {
  margin:2.5rem 0;
  h2{

  }
  hr {
    width: 40px;
    border:1px solid currentColor;
  }
}
.services {
  font-family: Arial;
  @include respond-to($tablet-portrait) {
    margin: 3em 0;
  }
  button {
    padding:.5em 1.25em;
  }
  p {
    margin: 0;
    @include respond-to($tablet-portrait) {
      margin: 3em;
    }
  }
}